In [1]:
#Question 01:my_tuple = ( (1, 2, 3), [4, 5, 6], ('aplle', 'banana' 'cherry'), [7, 8, 9] )
#Print all elements from my_tuple on a new line (using for loop)
#Create a new tuple by concatenating the first and last elements of my_tuple


my_tuple = ((1,2,3), [4,5,6], ('appple', "banana", 'cherry'), [7,8,9])
for i in my_tuple:
    print(i)

(1, 2, 3)
[4, 5, 6]
('appple', 'banana', 'cherry')
[7, 8, 9]

In [4]:
#Create a new tuple by concatenating the first and last elements of my_tuple
my_tuple = ((1,2,3), [4,5,6], ('appple', "banana", 'cherry'), [7,8,9])
new_tuple = tuple(my_tuple[0]) + tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3, 7, 8, 9)

In [9]:
#Question 2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, } â€¢
#Add a new book in inventory using method and get all book titles using method
#Remove a book if it's out of stock

inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
inventory.update({'Rumi': {'price': 50, 'quantity': 8}})
print(inventory)
print(inventory.keys())

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'Rumi': {'price': 50, 'quantity': 8}}
dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'Rumi'])

In [11]:
#Remove a book if it's out of stock
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
inventory.popitem()

('Harry Potter', {'price': 12.5, 'quantity': 2})

In [32]:
#Q3. An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name,category, price, and stock quantity.
#products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
#"category": "Home Appliances", "price": 80, "stock": 30} }  
#Increase the stock of the "Shirt" product (add 50 more units) 
#Add a new product (e.g., "Smartphone")

products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }  
products[102]['stock']  += 50
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}

In [34]:
#Add a new product (e.g., "Smartphone")
products.update({104: {'name': 'Smartphone', 'catagory': 'Electronics', 'price':500 , 'stock':15}})
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'catagory': 'Electronics',
  'price': 500,
  'stock': 15}}

In [35]:
#Question 04 You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.
#shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
set(shopping_list)

{'apple', 'banana', 'grape', 'orange'}

In [47]:
#Question 06. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
#Hint
#1. Initialize a variable to hold the sum (e.g., sum_of_evens).
#2. Use a for loop to iterate through all numbers from 1 to 50.
#3. Inside the loop, check if the number is even.
#4. If the number is even, add it to sum_of_evens.
#5. After the loop finishes, print the total sum of all even numbers between 1 and 50.
even_num = 0
for num in range(1, 51):
    if num % 2 == 0:
        even_num += num
print(even_num)

650

In [54]:
#Question 7. Write a Python program that prints the multiplication table for a given number (between 1 and10) using a for loop.
#Hint:
#1. Ask the user for a number between 1 and 10 .
#2. Use a for loop to iterate through the numbers from 1 to 10.
#3. For each iteration, calculate the product of the given number and the current number in the loop.
#4. Print the result in a readable format (e.g., 5 x 1 = 5).
#5. Ensure the program works correctly for any number between 1 and 10.


num = int(input("write down any number from 1 to 10: "))
if 1 <= num <= 10:
    for i in range (1, 11):
        print(f'{num} * {i} = {num * i}')
else:
    print("write down the correct number")

write down any number from 1 to 10: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [62]:
#Question 08 Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:
#3^1 = 3
#3^2 = 9
#3^3 = 27
#... up to 3^10.

number = int(input('write down any number '))
i = 1
while i <= 10:
    print(f'{number}**{i} = {number ** i}')
    i += 1
print("done")

write down any number 6
6**1 = 6
6**2 = 36
6**3 = 216
6**4 = 1296
6**5 = 7776
6**6 = 46656
6**7 = 279936
6**8 = 1679616
6**9 = 10077696
6**10 = 60466176
done

In [64]:
#Question 05 You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B".
#Find the students who are in "Course A" but not in "Course B" (difference). 
#Find students who are only in one of the two courses (symmetric difference). 

#course_a = {"John", "Alice", "Bob", "David"} 
#course_b = {"Alice", "Eve", "Charlie","David"} 
#Find students who are in Course A but not in Course B (difference) 
#Find students who are only in one of the two courses (symmetric difference)

course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie","David"}
Student_in_a_not_in_b = course_a - course_b
print(Student_in_a_not_in_b)

{'John', 'Bob'}

In [65]:
#Find students who are only in one of the two courses (symmetric difference)
Student_in_only_one_course = course_a ^ course_b
print(Student_in_only_one_course)

{'Bob', 'Charlie', 'Eve', 'John'}

In [68]:
#Question 09 Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step
#until it reaches 0, at which point it should print a message indicating the countdown is finishedOutput Hint:
#Enter a number to start the countdown: 3
 #3
 #2
 #1
 #0
 #Countdown finished!
    
num =  int(input("Enter a number "))
while num >= 0:
    print(num)
    num -= 1
print("Countdown finish")

Enter a number 6
6
5
4
3
2
1
0
Countdown finish

In [70]:
#Question 10 Write a Python program that takes an integer input n from the user and generates a rightangled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2stars, the third row 3 stars, and so on until the nth row.
#Ensure the stars in each row are separated by spaces, and each row starts on a new line.
# Pattern: 
#*
#**
#***
#****
#*****

num = int(input("Enter a number of rows "))
for i in range (1, num +1):
    print ("" * (num - i), "* " * i)

Enter a number of rows 5
 *
 * *
 * * *
 * * * *
 * * * * *