In [1]:
salries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [2]:
salries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [3]:
print(len(salries))   #Length of List

7

In [4]:
salries[(2)] #Retrive third salary by using index

'50k'

In [5]:
salries[(-1)]  #Retrive last salry bu using negative index

'40k'

In [9]:
salries[2:5]    #Slicing of list to get middle three values

['50k', '60k', '35k']

In [10]:
salries.append('100k')  #Add new value using append fuction

In [11]:
salries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [12]:
salries = salries + ['120k']   #Add new value without Method

In [13]:
salries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [14]:
salries[2] = '55k'  #Replace third salary

In [15]:
salries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [17]:
salries.count('40k')  #Count how many time 40k appears

2

In [18]:
salries[1] = '79k'   #Insert new value to the second position

In [19]:
salries

['20k', '79k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [20]:
salries.reverse() #Reverse order of salary with method

In [21]:
salries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '79k', '20k']

In [22]:
reverse_salries = salries[:: -1]  #Reverse order of salary without method

In [23]:
reverse_salries

['20k', '79k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']